@import './terminal.scss';

// tags colors
$advent-of-code: #0f0f23;
$tips: #b4418eff;
$clean-code: #1184a7ff;
$go: #29beb0;
$javascript: #f0db4f;
$algorithms: #d94a8cff;
$html: #f06529;
$typescript: #007acc;
$tutorial: #acacac;
$favicon: #44bbbb;
$coding-questions: #4446bb;


.hljs {
  font-family: "Fira Code" !important;
}
 



$tags: (
  'javascript' $javascript black,
  'tips' $tips white,
  'go' $go white,
  'clean-code' $clean-code white,
  'html' $html white,
  'algorithms' $algorithms white,
  'typescript' $typescript white,
  'tutorial' $tutorial white,
  'advent-of-code' $advent-of-code white,
  'coding-questions' $coding-questions white
);

.tag {
  &.small {
    font-size: 12px;
    line-height: initial;
    padding: 5px;
    margin-right: 7px;
  }
  &::before {
    content: '#';
    display: inline;
  }
  @each $name, $bg-color, $font-color in $tags {
    &.#{$name} {
      font-weight: 500;
      color: $font-color;
      background-color: $bg-color;
      transition: all 100ms;
      &:hover {
        background-color: darken($bg-color, 5);
      }
    }
  }
}

.post-content a {
  box-shadow: none;
  text-decoration: underline;
  text-underline-offset: 3px;
}

#menu {
  a {
    font-weight: 500;
    transition: color 0.1s ease-in-out;
  }

  a:hover {
    color: $favicon;
  }

  .active {
    color: $favicon;
  }
}
