{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info ">
    <div class="toolbar">
    <span></span>    
    <span></span>    
    </div>

    <div class="terminal">
        <div>

        <span class="prompt">/home$</span>
        <span class="cmd supported first"></span>
    </div>
        <div class="whoami-output">{{ .Content | markdownify }}</div>
        <span class="prompt second">/home$</span>
        <span class="cmd supported second"></span>
        <div class="find-output">
            You can find me on the following platforms
            <div class="social-icons">
                {{ partial "social_icons.html" site.Params.socialIcons }}
            </div>
        </div>
        <span class="prompt final">/home$</span>
        <span class="cmd third"></span>

    </div>


</article>
{{- end -}}
