
{{/* From: https://npf.io/2014/08/making-it-a-series/ */}}
{{- if .Params.series }}

    {{- $name := index .Params.series 0}}

    {{- $seriesUrl := $name | urlize }}
    
    {{- $series := index .Site.Taxonomies.series  $seriesUrl }}
    {{- $reversedPosts := partial "reverse-slice.html" $series.Pages -}}
    {{- $currentIndex := 0 -}}
    {{- range $index, $file := $reversedPosts -}}
    {{- if eq  $.File.UniqueID .File.UniqueID -}}
    {{$currentIndex = add $index 1 }}
    {{- end -}}
    {{- end -}}
    
    {{$seriesLength :=   len $reversedPosts }}
    <p class="page-series"><em><a href="" id="series"></a>This post is number <b>{{$currentIndex}}</b> of a {{$seriesLength}} posts series > <a href="{{.Site.BaseURL}}series/{{$seriesUrl}}" class="{{$seriesUrl}}" >{{$name}}</a>.</em></p>

  
{{- end }}